@import '../../assets/colors';

.header {
  width: 100vw;
  padding: 20px;
  background: $blue;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .home {
    color: $lightGrey;
    font-size: 20px;
  }

  .title {
    color: $lightGrey;
    font-size: 20px;
    display: flex;

    h1 {
      padding-left: 10px;
    }
  }
};