@import '../../assets/colors';

.button {
  outline: none;
  height: 120px;
  width: 240px;
  margin: 30px;
  background: $mediumGrey;
  border: 1px solid transparent;
  border-radius: 5px;
  color: $black;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 0 0 10px $darkGrey;
  transition: all 0.3s linear;

  &:hover {
    background: $orange;
    color: $lightGrey;
    transform: scale(1.1);
  }
}