@import '../../assets/colors';

.wrapper {

  .close {
    position: absolute;
    right: 5px;
    top: 5px;
    height: 25px;
    width: 25px;
    cursor: pointer;
  }

  .form {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .text {
      color: $black;
      font-weight: 700;
      font-size: 12px;
    }

    .input {
      width: 250px;
      border: 1px solid $mediumGrey;
      border-radius: 7px;
      padding: 10px;
      outline: none;
    }

    .add {
      width: 250px;
      height: 30px;
      border: 0 solid $mediumGrey;
      border-radius: 10px;
      outline: none;
      background: $green;
      color: $lightGrey;
      cursor: pointer;
      font-size: 18px;
      font-weight: 700;
    }
  }
}